<p>Have any Questions?</p>
<form>
  <fieldset>
    <legend>Details</legend>
    First name:<br>
    <input type="text" name="firstname">
    <br>
    Last name:<br>
    <input type="text" name="lastname">
    <br>
    Question:<br>
    <input type="text_area" name="question">
    <br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
